@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#content {
    max-width: 1600px; 
    margin: 0 auto;
    background-color: #AB3D0C;

}
.logo {
    width: 300px;
    padding-top: 10px;
    padding-left: 10px;
    
}
.howto {
    padding: 8px;
    width: 99%;
    height: 500px;
}
main {
    margin-right: auto;
    margin-left: auto;
}
.compressor {
    width: 500px;
    padding: 20px;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        grid-column: 4;
    
    }  
 .this  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 0;
    margin-left: auto;
    padding: 20px;

    
    
 }
 h1 {
    display: grid;
   padding-left: 60px;
   padding-top: 40px;
   font-size: 60px;
   color: #45280b;
 }
    .msg {
        font-family:'Poppins','roboto';
        font-size: 2em;
        padding: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
        grid-column: 6/10;
        grid-row: 6/7;
        box-shadow: 5px 5px 10px #45280b;
        background-color: #4F5841;
        color: #A88418
    }
    .msg2 {
        font-family:'Poppins','roboto';
        font-size: 2em;
        padding: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
        grid-column: 6/10;
        grid-row: 6/7;
        box-shadow: 5px 5px 10px #45280b;
    }
    .cprtraining {
       height:800px;
       display: grid;
       margin-left: auto;
       margin-right: auto;
       padding-top: 100px; 
    }
header {
    font-size: 3em;
    color: #45280b;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    font-family: 'lato';
    box-shadow: 5px 5px 10px #45280b;
    background-color: #A88418;
}


nav {
    text-align: center;
    color:whitesmoke;
    text-decoration: none;
    font-family: 'lato' ;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: black;
    color: #ceb7b3;
}
p a:hover {
    background-color: black;
    color: #ceb7b3;
}
footer {
    max-width: 1600px;
    font-size: 3em;
    padding: 25px 50px;
    padding-top: 30px;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px #45280b;
    background-color: #A88418;
}
@media screen and (max-width: 900px) {
    .box {
        display: flex;
    }
}
