
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Oswald:wght@200;300;400&family=Permanent+Marker&family=Protest+Guerrilla&family=Protest+Strike&family=REM:wght@100&family=Schoolbell&display=swap');

#content {
    max-width: 1600px; 
    margin: 0 auto;
}
#logo_link {
    padding: 5px;
}
nav a {
    text-align: center;
    color:black;
    text-decoration: none;
    font-family: 'Oswald';
    padding: 35px;
}
.home-title {
    font-size: 2em;
    margin-top: 10px;
}
#background {
        height: 725px; 
        background-color:#ceb7b3;
        margin-bottom: 200px;
}
Body {
    background-color: #C16200;
    font-family: 'Protest Guerrilla', 'Cherry Cream Soda', 'Protest Strike' ;
    font-size: 22px;
    margin: 0;
    padding:0;
}
h2 {
    margin:0;
}
header {
    background-color:blanchedalmond;
}
nav a:hover {
    background-color: black;
    color: #ceb7b3;
}
.join {
    background-color:#ceb7b3;
    text-decoration: none;
    font-family: 'Permanent Marker', 'Schoolbell', 'REM';
    font-size: 18px;
    line-height: 1.5em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
}
footer {
    background-color: #ceb7b3;
}
.msg {
    background-color:slategray;
    font-family: 'Permanent Marker', 'Schoolbell', 'REM';
    font-size: 1em;
    padding: 35px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.msg p {
    padding-bottom: 15px;
}
.book {
    background-color:#ceb7b3;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
}
.card-img {
    border: 10px;
    color: #ceb7b3;
}
main section img {
    box-sizing: border-box;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
#hero-msg {
    text-align: center;
}
.home-grid {
    text-align: center;
}
#hero-img {
    width: 100%;
}
.social img {
    padding-top: 15px;
}
footer p {
    font-size:1.2em;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}
footer {
    padding: 25px 50px;
    padding-top: 30px;
    margin-top: 10px;
    margin-bottom: 100px;
}