#content {
    max-width: 1600px; 
    margin: 0 auto;
}
nav a {
    text-align: center;
    color:black;
    text-decoration: none;}
#background {
        height: 725px; 
        background-color:#ceb7b3;
}
Body {
    background-color: #C16200;
}
header {
    background-color:blanchedalmond;
}
nav a:hover {
    background-color: black;
    color: #ceb7b3;
}
.join {
    text-decoration: none;
}
footer {
    background-color: #ceb7b3;
}
.msg {
    background-color: dimgray
}

.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-msg {
    text-align: center;
}
.home-grid {
    text-align: center
}
#hero-img {
    width: 100%;
}
footer p {
    font-size:1.2em;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}